<form>
  <div class="row">
    <div class="col-sm-6 boxShadow">
      <h2><em>Login</em></h2> <br/>
      <input type="text" class="form-control" placeholder="Username / Email"/>   
      <input type="password" class="form-control" placeholder="Password"/>    
      <input type="button" class="btn btn-block btn-success" value="Login"/>
    </div>
    <div class="col-sm-6 boxShadow">
      <h2><em>Sign Up</em></h2> <br/>
      <input type="text" class="form-control" placeholder="Name"/>     
      <input type="text" class="form-control" placeholder="Username / Email"/>    
      <input type="password" class="form-control" placeholder="Password"/>   
      <input type="password" class="form-control" placeholder="Password again"/>     
      <input type="button" class="btn btn-block btn-success" value="Sign Up">
    </div>
  </div>
</form>