.movieOutput {
    max-height: 400px;
    box-shadow: 0px 1px 2px rgba(0,0,0,.7);
    margin-bottom: 50px;
    -webkit-transition: .2s; /* Safari */
    transition: .2s;
    background-color: rgba(255,255,255,.9);
}
.movieOutput:hover {
    transform: scale(1.04,1.04);
    box-shadow: 0px 1px 5px black;
    cursor: pointer;
}
.movieOutput:active {
    transform: scale(0.98,0.98);
}

#darkDiv {
    background-color: rgba(0,0,0,.6);
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%; 
}

.roundInput {
    border-radius: 2px;
    height: 60px;
    font-size: 20px;
    max-width: 220px;
    margin: 0 auto;
}

#setPrice {
    background-color: rgba(255,255,255,.9);
    box-shadow: 0px 1px 2px gray;
    padding: 5px;
    padding-top: 30px;
    position: fixed;
    top: 100px;
    left: 100px;
    right: 100px;
    margin: 0px auto;
    bottom: 200px;
    width: 300px;
    height: 200px;
    z-index: 2;
    border-radius: 2px;
}

#setPriceBtn {
    -webkit-transition: .15s;
    padding: 10px;
    width: 180px;
    margin: 0 auto;
    font-size: 20px;
    border-radius: 50px;

}

#setPriceBtn:hover {
    transform: scale(1.1,1.1);
    cursor: pointer;
}
#setPriceBtn:active {
    transform: scale(0.98,0.98);
}

/* Button Style */
.btnScale {
    -webkit-transition: .2s; /* Safari */
    transition: .2s;
}
.btnScale:hover {
    transform: scale(1.05,1.05);
    cursor: pointer;
}
.btnScale:active {
    transform: scale(0.96,0.96) !important;
}
/***************/

.grayText {
    color: #9c9c9c;
}

.actors {
    position:absolute;
    bottom: 25px;
}


img {
    max-height: 400px;
}


