#mainContent {
    background-color: white;
    padding: 15px;
    box-shadow: 0px 1px 2px gray;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


.btnScale {
    -webkit-transition: .2s; /* Safari */
    transition: .2s;
}

.btnScale:hover {
    transform: scale(1.1,1.1);
}