
<nav class="navbar navbar-inverse bg-inverse">
  <form class="form-inline">
    <div class="row">
      <div class="col-sm-6">
        <!-- Using Hash Map Strategy to switch between pages -->
        <button class="btn" [routerLink]="['home']" type="button">Home</button>
        <button class="btn" [routerLink]="['placead']" type="button">Place Ad</button>
      </div>

      <div class="col-sm-2"></div>
      
      <!-- This is shown if user is not logged in -->
      <div class="col-sm-2" *ngIf="!userLogedIn">
        <button class="btn" [routerLink]="['loginregister']" type="button">Login / Sign Up</button>
      </div>
      
      <!-- This is shown if user is logged in -->
      <div class="col-sm-2" *ngIf="userLogedIn">
        <button class="btn" [routerLink]="['loginregister']" (click)='logout()' type="button">Log Out</button>
      </div>

    </div>
  </form>
</nav>
